
		<div class="templateHeader">Chemical Analysis Event</div>
		<div class="templateID">Analysis Event ID: <input type="text" id="analysis_eventid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Analysis Run Name:</td>
				<td>
					<div id="analysis_event_action_name"></div>
				</td>
			</tr>
			<tr>
				<td>Analysis Type:</td>
				<td>
					<div id="analysis_event_type_num"></div>
				</td>
			</tr>
			<tr>
				<td>Method Name:</td>
				<td>
					<div id="analysis_event_method"></div>
				</td>
			</tr>

			<tr>
				<td>Lab Name:</td>
				<td>
					<div id="analysis_event_lab"></div>
				</td>
			</tr>

			<tr>
				<td>Equipment Used:</td>
				<td>
					<div id="analysis_event_equipment"></div>
				</td>
			</tr>

			<tr>
				<td>Analyst/Operator:</td>
				<td>
					<div id="analysis_event_analyst"></div>
				</td>
			</tr>

			<tr>
				<td>Description:</td>
				<td>
					<div id="analysis_event_description"></div>
				</td>
			</tr>

			<tr>
				<td>Date/Time:</td>
				<td nowrap>Start: <span id="analysis_event_begin_date"></span>&nbsp;&nbsp;&nbsp;End: <span id="analysis_event_end_date"></span></td>
			</tr>

			</table>




