


		<div class="templateHeader">Measured Variable</div>
		<div class="templateID">Measured Variable ID: <input type="text" id="measured_variableid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Variable Name*:</td>
				<td>
					<input type="text" id="measured_variable_name" size="59" />
				</td>
			</tr>
			<tr>
				<td>Variable Type*:</td>
				<td>
					<select id="measured_variable_type_num">
						<option value="">select...</option>
						<option value="1">Ratio</option>
						<option value="2">Rock_Mode</option>
						<option value="3">Model_Data</option>
						<option value="4">Speciation_Ratio</option>
						<option value="5">Age</option>
						<option value="6">End-Member</option>
						<option value="7">Radiogenic_Isotopes</option>
						<option value="8">Stable_Isotopes</option>
						<option value="9">Major_Oxide/Element</option>
						<option value="10">Noble_Gas</option>
						<option value="11">Rare_Earth_Element</option>
						<option value="12">Trace_Element</option>
						<option value="13">Uranium_Series</option>
						<option value="14">Volatile</option>
						<option value="15">Geospatial</option>
						<option value="16">Environmental Parameter</option>
						<option value="17">Physical Property</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Variable Code*:</td>
				<td>
					<input id="measured_variable_code" size="56"/>
				</td>
			</tr>
			<tr>
				<td>Definition*:</td>
				<td>
					<textarea id="measured_variable_definition" cols="50" rows="7"></textarea>
				</td>
			</tr>

			</table>


