
		<div class="templateHeader">Measured Variable</div>
		<div class="templateID">Measured Variable ID: <input type="text" id="measured_variableid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Variable Name:</td>
				<td>
					<div id="measured_variable_name"></div>
				</td>
			</tr>
			<tr>
				<td>Variable Type:</td>
				<td>
					<div id="measured_variable_type"></div>
				</td>
			</tr>
			<tr>
				<td>Variable Code:</td>
				<td>
					<div id="measured_variable_code"></div>
				</td>
			</tr>
			<tr>
				<td>Definition:</td>
				<td>
					<div id="measured_variable_definition"></div>
				</td>
			</tr>
			<tr>
				<td>Status:</td>
				<td>
					<div id="measured_variable_status"></div>
				</td>
			</tr>
			</table>

